# Define /zabbix alias, this is the default

<VirtualHost {{ zabbix_service_server_ip }}:80>

DocumentRoot "/usr/share/zabbix"
ServerName {{ zabbix_url }}
#ServerAlias zabbix-test.aavn.local
ErrorLog "/var/log/zabbix_error_log"
TransferLog "/var/log/zabbix_access_log"
#SSLEngine On
#SSLCertificateFile "/etc/httpd/aavn-cert/axonactive.vn.local_wildcard.pem"
#SSLCertificateKeyFile "/etc/httpd/aavn-cert/star_axonactive_vn_local.key"


<IfModule mod_alias.c>
    Alias /zabbix /usr/share/zabbix
</IfModule>

<Directory "/usr/share/zabbix">
  #  Options FollowSymLinks
   # AllowOverride None
   # Order allow,deny
    Allow from all

    <IfModule mod_php5.c>
        php_value max_execution_time 300
        php_value memory_limit 128M
        php_value post_max_size 16M
        php_value upload_max_filesize 2M
        php_value max_input_time 300
        php_value always_populate_raw_post_data -1
        php_value date.timezone Asia/Ho_Chi_Minh
    </IfModule>
    <IfModule mod_php7.c>
        php_value max_execution_time 300
        php_value memory_limit 128M
        php_value post_max_size 16M
        php_value upload_max_filesize 2M
        php_value max_input_time 300
        php_value always_populate_raw_post_data -1
        php_value date.timezone Asia/Ho_Chi_Minh
    </IfModule>
</Directory>

#<Directory "/usr/share/zabbix/conf">
#    Order deny,allow
#    Deny from all
#    <files *.php>
#        Order deny,allow
#        Deny from all
#    </files>
#</Directory>

#<Directory "/usr/share/zabbix/app">
#    Order deny,allow
#    Deny from all
#    <files *.php>
#        Order deny,allow
#        Deny from all
#    </files>
#</Directory>

#<Directory "/usr/share/zabbix/include">
#    Order deny,allow
#    Deny from all
#    <files *.php>
#        Order deny,allow
#        Deny from all
#    </files>
#</Directory>

#<Directory "/usr/share/zabbix/local">
#    Order deny,allow
#    Deny from all
#    <files *.php>
#        Order deny,allow
#        Deny from all
#    </files>
#</Directory>
</VirtualHost>
